body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    background: white;
}

.header {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}

.header__icons {
    display: flex;
    align-content: center;
    padding: 25px 0;
    margin-right: 60px;
}

.content {
    margin: 0 20px;
    max-width: 1170px;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 975px;
    width: 100%;
}

.icons__icon {
    display: none;
}

.header__content_border {
    display: none;
}

.content__profile {
    border-left: 1px solid #EBEBF1;
    height: 80px;
    margin-left: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.profile__container {
    margin-left: 20px;
    width: 130px;
    display: flex;
    align-items: center;
}

.container__nickname {
    margin-right: 10px;
    text-align: right;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #768298;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container__avatar {
    width: 40px;
    height: 40px;
    background-blend-mode: normal;
    border-radius: 20px;
}

.content__search {
    width: 100%;
    border: 1px solid #EBEBF1;
    border-radius: 5px;
}

.search__input{
    height: 40px;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    padding: 0;
}

.search__input, .search__button {
    background: transparent;
    outline: none;
}

 .search__button {
    border: none;
    padding: 0 5px 0 12px;
}

 .search__button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #768298;
}

.content__title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 160%;
}

.content__partners {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.partner-card {
    border: 1px solid #EBEBF1;
    box-sizing: border-box;
    border-radius: 5px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
}

.partner-card:hover {
    box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
    cursor: pointer;
}

#partner-card-1,
#partner-card-2,
#partner-card-3,
#partner-card-5,
#partner-card-6 {
    margin-right: 30px;
    margin-bottom: 30px;
}

#partner-card-4 {
    margin-bottom: 30px;
}

#partner-card-7 {
    margin-right: auto;
}

@media screen and (max-width: 1209px) {
    .partner-card {
        width: 229px;
    }

    #partner-card-1,
    #partner-card-2,
    #partner-card-3,
    #partner-card-5,
    #partner-card-6 {
        margin-right: 20px;
    }

    .content {
        width: 976px;
    }

}

@media screen and (max-width: 1015px) {
    .content {
        width: 727px;
    }
    
    .content__title {
        font-size: 28px;
    }
    
    .partner-card {
        margin-bottom: 20px;
    }
    
    .content__profile {
        margin-left: 50px;
    }

    #partner-card-3,
    #partner-card-6 {
        margin-right: 0;
    }

    #partner-card-4 {
        margin-right: 20px;
    }

    .content__partners {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width: 766px) {    
    .content {
        margin: 0 20px;
        width: 478px;
    }

    .header {
        flex-direction: column;
        padding: 0;
    }

    #partner-card-2,
    #partner-card-4,
    #partner-card-6 {
        margin-right: 0;
    }

    #partner-card-1,
    #partner-card-3,
    #partner-card-5 {
        margin-right: 20px;
    }

    .content__profile {
        display: none;
    }

    .header__icons {
        padding: 16px 20px;
        margin: 0;
        justify-content: space-between;
        border-bottom: 1px solid rgba(187, 196, 214, 0.5);
    }

    .header__content {
        display: block;
    }

    .icons__icon {
        display: block;
        margin-top: 6px;
        cursor: pointer;
    }

    .icons__icon:before {
        content: "\f007";
        font-family: FontAwesome;
        font-size: 24px;
        color: #34AADD; 
    }
    
    .search__input {
        border: none;
        width: 90%;
    }

}

@media screen and (max-width: 517px) {
    .content {
        width: 335px;
        padding: 0 20px;
        margin: 0;
    }
    
    .partner-card {
        width: 335px;
    }

    .content__partners {
        flex-direction: column;
        align-items: center;
    }

    #partner-card-1,
    #partner-card-2,
    #partner-card-3,
    #partner-card-4,
    #partner-card-5,
    #partner-card-6,
    #partner-card-7 {
        margin-right: 0;
    }
}
